<div style="width: 100%;">

  <div class="home-header">
      <h3 class="text-header" style="font-family: 'Orelega One'; font-size: 45px;"> 
        Search. Compare. Share your experience.</h3>

    <div class="grid-mystery-box">
      <div style="padding-top: 10px; text-align: right;">
        <span style=" color: black; font-family: 'Permanent Marker'; font-size: 20px;">Pull one out of the bag:</span>  
      </div>
      <div>
        <div (mouseenter)="setEmojiInterval()"(mouseleave) ="clearEmojiInterval()" 
        (click)="getRandomHit()" class="mystery-box mystery-box-hover">
          <span id="mystery-emoji"  class="mystery-box-text"> <b>🎓</b> </span>
        </div>
      </div>
    </div>

  </div>


  <!-- cards (for some reason I couldn't turn them into components which is sad)-->
  <div class="medium-grid">
    <div class="grid_container grid_hover" (click)='route_search_institution();'>
      <div style="text-align: center;" class="first_div">
        <i class="material-icons" style="font-size: 210px; margin-left: 20px;">school</i>
      </div>
      <div class="second_div">How good is that school you are thinking of?</div>
    </div>
  
    <div class="grid_container grid_hover" (click)='route_search_prof();'>
      <div style="text-align: center;" class="first_div">
        <i class="material-icons" style="font-size: 210px; margin-left: 20px;">person</i>
      </div>
      <div class="second_div">Looking for a professor?</div>
    </div>
  </div>
  <div class="medium-grid">
    <div class="grid_container grid_hover" (click)="route_search_department();">
      <div style="text-align: center;" class="first_div">
        <i class="material-icons" style="font-size: 210px; margin-left: 20px;">business_center</i>
      </div>
      <div class="second_div">Search for a department.</div>
    </div>
  
    <div class="grid_container grid_hover" (click)="route_search_course();">
      <div style="text-align: center;" class="first_div">
        <i class="material-icons" style="font-size: 210px; margin-left: 20px;">subject</i>
      </div>
      <div class="second_div">Course planning for the next semester?</div>
    </div>
  </div>
  <!-- cards -->


</div>

