.avatar-dropdown {
  height: 80px;
  line-height: 42px !important;
}

.profile_pic_div {
  font-family: 'Material Icons' !important;
  display: block;
  float: left;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: white;
  font-size: 35px;
  color: grey;
  text-align: center;
  padding: 0;
  margin: 25px 15px 25px 0;
}

.username_span {
  display: block;
  float: left;
  font-size: 20px;
  margin-top: 25px;
}

#avatar_2 {
  display: block;
  float: left;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: white;
  font-size: 35px;
  color: grey;
  text-align: center;
  margin-right: 15px;
}

