<div class="container">

  <div class="centered-div">
    <h3> Welcome to Rate My Scholar. Find out how your future school compares to others or
      leave a review!
    </h3>
  </div>

  <div class="centered-div">
    <button class="button--colored-light-blue mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect inline-bttn" (click)='route_search_prof();'>
      Looking for a professor?
    </button>
    <button class="button--colored-light-blue mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect inline-bttn" (click)='route_search_institution();'>
      How good is that school you are thinking of?
    </button>
    <button class="button--colored-light-blue mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect inline-bttn">
      Are you a professor?
    </button>
  </div>
</div>
