<!-- <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
  <app-toggles></app-toggles>
</div>

<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
  <app-progress-bars></app-progress-bars>
</div>

<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
  <app-chips></app-chips>
</div>

<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
  <app-sliders></app-sliders>
</div>

<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
  <app-tooltips></app-tooltips>
</div>

<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
  <app-badges></app-badges>
</div>

<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--top">
  <base-card>
    <base-card-title>
      <h1 class="mdl-card__title-text">Simple avatar list</h1>
    </base-card-title>
    <base-card-body>
      <ul class="mdl-list">
        <li *ngFor="let item of data" class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <div class="mdl-list__item-avatar">
              <img width="100%" src="assets/images/{{ item.image }}">
            </div>
            <span>{{ item.name }}</span>
          </span>
        </li>
      </ul>
    </base-card-body>
  </base-card>
</div>

<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--top">
  <base-card>
    <base-card-title>
      <h1 class="mdl-card__title-text">Avatars and actions list</h1>
    </base-card-title>
    <base-card-body>
      <ul class="mdl-list">
        <li *ngFor="let item of data" class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <div class="mdl-list__item-avatar">
              <img width="100%" src="assets/images/{{ item.image }}">
            </div>
            <span>{{ item.name }}</span>
          </span>
          <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
        </li>
      </ul>
    </base-card-body>
  </base-card>
</div>

<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--top">
  <base-card>
    <base-card-title>
      <h1 class="mdl-card__title-text">Avatars and controls list</h1>
    </base-card-title>
    <base-card-body>
      <ul class="mdl-list">
        <li *ngFor="let item of data; let i = index" [ngSwitch]="i" class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <div class="mdl-list__item-avatar">
              <img width="100%" src="assets/images/{{ item.image }}">
            </div>
            <span>{{ item.name }}</span>
          </span>
          <span *ngSwitchCase="0" class="mdl-list__item-secondary-action">
            <label class="mdl-checkbox checkbox--colored-light-blue mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-1">
              <input type="checkbox" id="list-checkbox-1" class="mdl-checkbox__input" checked/>
            </label>
          </span>
          <span *ngSwitchCase="1" class="mdl-list__item-secondary-action">
            <label class="mdl-radio radio--colored-light-blue mdl-js-radio mdl-js-ripple-effect" for="list-option-1">
              <input type="radio" id="list-option-1" class="mdl-radio__button" name="options" value="1"/>
            </label>
          </span>
          <span *ngSwitchCase="2" class="mdl-list__item-secondary-action">
            <label class="mdl-switch switch--colored-light-blue mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
              <input type="checkbox" id="list-switch-1" class="mdl-switch__input" checked/>
            </label>
          </span>
        </li>
      </ul>
    </base-card-body>
  </base-card>
</div> -->

<div class="mdl-cell mdl-cell--12-col mdl-cell--16-col-tablet mdl-cell--8-col-phone mdl-cell--top">
  <base-card>
    <base-card-title>
      <h1 class="mdl-card__title-text">Search by institutions</h1>
    </base-card-title>

    <base-card-body>
      <form>
        <div class="search-card mdl-card mdl-shadow--2dp">
          <div class="mdl-textfield mdl-js-textfield">
            <i class="material-icons">search</i>
            <input class="mdl-textfield__input" type="text" id="search_institution" placeholder="Type in keywords..."/>
          </div>
        </div>
        <div class="sort_div">
          <h5>Sorted by:</h5>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <select class="mdl-textfield__input" id="sorting" name="sorting">
              <option></option>
              <option value="1">Letter Ascending</option>
              <option value="2">Letter Descending</option>
              <option value="3">Rating Ascending</option>
              <option value="4">Rating Descending</option>
            </select>
            <label class="mdl-textfield__label" for="sorting">Sort</label>
          </div>
        </div>
      </form>

      <ul class="mdl-list">
        <li *ngFor="let item of data; let i = index" class="mdl-list__item mdl-list__item--two-line">
          <span class="mdl-list__item-primary-content">
            <a class='links' href="#/app/institutionDetails">{{ item.name }}</a>
            <span class="mdl-list__item-sub-title">{{ item.description }}</span>
          </span>
          <span class="mdl-list__item-secondary-content">
            <!-- <span *ngIf="i === 0" class="mdl-list__item-secondary-info">Star</span> -->
              <div class="rate">
                 <span class="general_rating">Rating: {{item.rating}}</span>
                 <input type="radio" id="star5" value="5" disabled/>
                 <label for="star5" title="text">5 stars</label>
                 <input type="radio" id="star4" value="4" disabled checked/>
                 <label for="star4" title="text">4 stars</label>
                 <input type="radio" id="star3" value="3" disabled/>
                 <label for="star3" title="text">3 stars</label>
                 <input type="radio" id="star2"  value="2" disabled/>
                 <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" value="1" disabled/>
                <label for="star1" title="text">1 star</label>
              </div>
          </span>
        </li>
      </ul>
    </base-card-body>
  </base-card>
</div>
