<div style="margin-bottom: 40px;">
 
    <h1 style="margin: 20px; margin-bottom: 0px;">Professor Xavier</h1>
    <p style="margin-left: 20px; margin-bottom: 20px; margin-top: opx;">
      <i class="material-icons">school</i>
      Xavier's School of Gifted Youngsters
    </p>
    

  <!-- Ratings -->
  <div class="testing1">
    <div class="testing2 mdl-layout__header-row">
      <h2 class="mdl-card__title-text">Ratings</h2>
      <div class="mdl-layout-spacer"></div>
      <button class="button--colored-light-blue mdl-button mdl-button--raised:hover
       mdl-js-button mdl-js-ripple-effect" (click)="openModal()">Leave Rating</button>
    </div>
    <div class="testing3 container">

      <!-- content goes here -->
      <ratings *ngFor="let rating of ratings" [data]="rating"></ratings>
      <!-- content goes here -->

    </div>
  </div>


  <!-- modal to submit rating -->
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content container">
      <h3 class="mdl-card__title-text">Leave a rating for Professor X...</h3>
      <!-- <textarea name="Text1" cols="40" rows="5"></textarea> -->
      <div class="mdl-textfield mdl-js-textfield">
        <textarea class="mdl-textfield__input modal_inp" id="modalTextArea" type="text" rows= "10" cols="100"></textarea>
        <label class="mdl-textfield__label" for="sample5">Don't be mean...</label>
      </div>
      
      <!-- <input class="mdl-slider mdl-js-slider slider--colored-teal is-upgraded" type="range"
      min="0" max="5" value="5" tabindex="0"> -->
      <p>( star rating goes here )</p>
      <button (click)="submitRating()" class="button--colored-light-blue mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect inline-bttn">
        Submit
      </button>
      
      
    </div>
  </div>


  <!-- Visual graphs -->
  <div class="testing1">
    <div class="testing2 mdl-layout__header-row">
      <h2 class="mdl-card__title-text">Ratings over time</h2>
      <div class="mdl-layout-spacer"></div>
      <button class="button--colored-light-blue mdl-button mdl-button--raised:hover mdl-js-button mdl-js-ripple-effect">Compare with other Professors</button>
    </div>
    <div class="testing3" style="height: 35em">
      <app-line-chart></app-line-chart>
      <app-discrete-bar-chart></app-discrete-bar-chart>
    </div>
  </div>
  
</div>

