
<fieldset class="rating" id="star-radios">
  <input type="radio" id="5" name="rating" value="5" /><label class = "full" for="5"></label>
  <input type="radio" id="4.5" name="rating" value="4 and a half" /><label class="half" for="4.5"></label>
  <input type="radio" id="4" name="rating" value="4" /><label class = "full" for="4"></label>
  <input type="radio" id="3.5" name="rating" value="3 and a half" /><label class="half" for="3.5"></label>
  <input type="radio" id="3" name="rating" value="3" /><label class = "full" for="3"></label>
  <input type="radio" id="2.5" name="rating" value="2 and a half" /><label class="half" for="2.5"></label>
  <input type="radio" id="2" name="rating" value="2" /><label class = "full" for="2"></label>
  <input type="radio" id="1.5" name="rating" value="1 and a half" /><label class="half" for="1.5"></label>
  <input type="radio" id="1" name="rating" value="1" /><label class = "full" for="1"></label>
  <input type="radio" id="0.5" name="rating" value="half" /><label class="half" for="0.5"></label>
</fieldset>


