<div>
  <div class="aboutTop">
    <p id="knowMore"> <b>Know more</b></p>
    <h1 style="margin: 0px; font-size: 100px;"><b>About Us</b></h1> 
  </div>

  <div class="aboutBottom">
    <h1 style="margin: 0px; padding-top: 30px; color: rgb(0, 0, 0);"> This is our mission </h1>
    <div style="padding: 0px 70px 0px 70px; text-align: left; margin: 20px 0px 50px 0px;"> 
      <p>In a world of ever-growing technological literacy, the ability for a potential 
        student to determine the best institution for them and their future endeavors is critical. Currently, 
        the best option for students comes in the form of a website called Rate My Professor. Using this resource, 
        students can see the general opinion of professors at a school, or the general opinion of a school. 
        Our aim is to develop a better tool for students to use when looking to determine the quality of an available education, 
        quality of professors, and how the experience will change as they move through their education.
      </p>
      
      <p>
        Currently the best resource for students can inform them about a single professor, or a single school at a time. 
        While this is useful, the utility of this information is heavily limited by the context of the class and professor. 
        For example, while one can see the rating of a professor, there is no way to tell if the professors’ abilities differ 
        between the courses they teach.
      </p>
    
      <p>
        In order to deliver better experience for students and educators, our service aims to provide better information 
        about student perceptions of professors, classes, departments, and schools. When students use the service to 
        provide feedback, they will have the ability to rate the class by term, the professor in the class, and 
        department at the time. In turn when viewing ratings about the school, users will be able to see how a professor 
        rates over time, how professors’ rate by class, how classes have rated over time, and many more views. With all the 
        information available, prospective students will have a complete view of the institution they are potentially 
        attending, and the quality of educators at the institution. Additionally, this information can be used by staff 
        at the institution to measure their perceived quality over time.
      </p>

    </div>
    <h3 style="color: black; margin-bottom: 2px;">The Team</h3>
    <hr style="background-color: rgba(0, 0, 0, 0.151); width: 80%; margin: auto;">
    <div style="display: flex; margin-top: 20px; margin: 20px 200px 0px 200px;">
      <team-member *ngFor="let name of members" [memberName]="name"></team-member>
    </div>
  </div>
</div>


