<div class="mdl-cell mdl-cell--12-col mdl-cell--16-col-tablet mdl-cell--8-col-phone mdl-cell--top">
  <base-card>
    <base-card-title>
      <h1 class="mdl-card__title-text">Brock University</h1>
    </base-card-title>

    <base-card-body>
      <div *ngFor="let institution of data;" class="base-card-body-top" >
        <span class="general_rating">General Rating: {{institution.rating}}</span>
      </div>
      <div class="base-card-body-middle">
        <div class="rate">
          <input type="radio" id="star5" name="rate" value="5" disabled/>
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4" name="rate" value="4" disabled checked/>
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3" name="rate" value="3" disabled/>
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" name="rate" value="2" disabled/>
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" name="rate" value="1" disabled/>
          <label for="star1" title="text">1 star</label>
        </div>
      </div>
      <div class="base-card-body-bottom">
        3
      </div>
    </base-card-body>
  </base-card>
</div>
