# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\intellijProjects\COSC4P02_2021_ShadowRaters\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
