<!-- <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone">
  <base-card>
    <base-card-title>
      <h2 class="mdl-card__title-text">Browser Statistics</h2>
    </base-card-title>
    <base-card-body>
      <app-browser-statistics-chart></app-browser-statistics-chart>
    </base-card-body>
  </base-card>
</div>

<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone">
  <base-card>
    <base-card-title>
      <h2 class="mdl-card__title-text">Country Statistics</h2>
    </base-card-title>
    <base-card-body>
      <app-country-statistics-chart></app-country-statistics-chart>
    </base-card-body>
  </base-card>
</div>

<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
  <base-card>
    <base-card-title>
    </base-card-title>
    <base-card-body>
      <app-discrete-bar-chart></app-discrete-bar-chart>
    </base-card-body>
  </base-card>
</div>

<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--12-col-phone">
  <base-card>
    <base-card-title>
      <h2 class="mdl-card__title-text">Startup Financing Cycle</h2>
    </base-card-title>
    <base-card-body>
      <app-line-chart-1></app-line-chart-1>
    </base-card-body>
  </base-card>
</div>

<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--12-col-phone">
  <base-card>
    <base-card-title>
      <h2 class="mdl-card__title-text">Startup Financing Cycle</h2>
    </base-card-title>
    <base-card-body>
      <app-line-chart-2></app-line-chart-2>
    </base-card-body>
  </base-card>
</div>

<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--12-col-phone">
  <base-card>
    <base-card-title>
    </base-card-title>
    <base-card-body>
      <app-line-plus-bar-chart></app-line-plus-bar-chart>
    </base-card-body>
  </base-card>
</div>

<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--12-col-phone">
  <base-card>
    <base-card-title>
    </base-card-title>
    <base-card-body>
      <app-stacked-bar-chart></app-stacked-bar-chart>
    </base-card-body>
  </base-card>
</div> -->
<div class="mdl-cell mdl-cell--12-col mdl-cell--16-col-tablet mdl-cell--8-col-phone mdl-cell--top">
  <base-card>
    <base-card-title>
      <h1 class="mdl-card__title-text">Search by Department</h1>
    </base-card-title>

    <base-card-body>
      <form>
        <div class="search-card mdl-card mdl-shadow--2dp">
          <div class="mdl-textfield mdl-js-textfield">
            <i class="material-icons">search</i>
            <input class="mdl-textfield__input" type="text" id="search_department" placeholder="Type in keywords..."/>
          </div>
        </div>
        <div class="sort_div">
          <h5>Sorted by:</h5>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <select class="mdl-textfield__input" id="sorting" name="sorting">
              <option></option>
              <option value="1">Letter Ascending</option>
              <option value="2">Letter Descending</option>
              <option value="3">Rating Ascending</option>
              <option value="4">Rating Descending</option>
            </select>
            <label class="mdl-textfield__label" for="sorting">Sort</label>
          </div>
        </div>
      </form>

      <ul class="mdl-list">
        <li *ngFor="let item of data; let i = index" class="mdl-list__item mdl-list__item--two-line">
          <span class="mdl-list__item-primary-content">
            <a class='links' href="#/app/home">{{ item.name }}</a>
            <span class="mdl-list__item-sub-title">{{ item.description }}</span>
          </span>
          <span class="mdl-list__item-secondary-content">
            <!-- <span *ngIf="i === 0" class="mdl-list__item-secondary-info">Star</span> -->
              <div class="rate">
                 <span class="general_rating">Rating: {{item.rating}}</span>
                 <input type="radio" id="star5" value="5" disabled/>
                 <label for="star5" title="text">5 stars</label>
                 <input type="radio" id="star4" value="4" disabled checked/>
                 <label for="star4" title="text">4 stars</label>
                 <input type="radio" id="star3" value="3" disabled/>
                 <label for="star3" title="text">3 stars</label>
                 <input type="radio" id="star2" value="2" disabled/>
                 <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" value="1" disabled/>
                <label for="star1" title="text">1 star</label>
              </div>
          </span>
        </li>
      </ul>
    </base-card-body>
  </base-card>
</div>
