

.general_rating{
  font-size: 26px;
  margin-right: 10px;
  color: rgb(183,183,183);
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked) > label:before {
  content: '★ ';
  cursor: default;
}

.rate > input:checked ~ label {
  color: #ffc700;
}



::placeholder {
  color: rgb(183,183,183);
}

.sort_div{
  display: inline-block;
  margin-left: 20px;
}

.sort_div h5 {
  display: inline-block;
  margin-right: 20px;
}

.sort_div option {
 color: gray;
}

:host ::ng-deep {

  .links{
    font-size: 23px !important;
    font-weight: bold !important;
  }

  .mdl-card {
    height: 100%;
  }

  .mdl-list__item {
    padding: 8px 16px;
  }

  .mdl-progress {
    width: 130px;
  }

  .search-card {
    min-height: 0;
    margin: auto;
    width: 90%;
    display: inline-block;
    margin-left: 17px;
    margin-bottom:20px;

    @media screen and (min-width: 768px) {
      width: 650px;
    }

    .mdl-textfield {
      margin: auto;
      padding: 10px;
      width: 100%;
      background-color: grey;
    }

    .mdl-textfield__input {
      border: 0;

    }

    .material-icons {
      position: absolute;
    }

    .material-icons + .mdl-textfield__input {
      padding-left: 29px;
      box-sizing: border-box;
    }
  }

}
